<!DOCTYPE html>
<!--[if lte IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
{{! Document Settings }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{! Page Meta }}
<title>{{meta_title}} {{log meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{! Mobile Support }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{! Styles'n'Scripts }}
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="icon" href="{{asset "images/favicon.png"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}">
<!-- <link rel="stylesheet" type="text/css" href="{{asset "css/grids.css"}}"> -->
<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/owl.carousel.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/owl.theme.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/common-elements.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/responsive.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/prettify-bootstrap.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/jquery.magnific-popup.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/tooltipster/css/tooltipster.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/tooltipster/css/themes/tooltipster-small.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/slick/slick.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/slick/slick-theme.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/main-color.css"}}">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="{{asset "css/grids-ie.css"}}">
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ghost_head}}

<script type="text/javascript">
if (typeof jQuery == 'undefined') {
  document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></'+'script>');
}
</script>
<script type="text/javascript" src="{{asset "js/jquery_debounce.js"}}"></script>
<script type="text/javascript" src="{{asset "js/jquery_magnific-popup.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/moment.min.js"}}"></script>

<script type="text/javascript" src="{{asset "js/global.js"}}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48747816-1', 'auto');
  ga('require','urlChangeTracker', {
shouldTrackUrlChange: function(newPath, oldPath) {
  // Strips the query string from the path values.
  console.log("NEW PATH",newPath, "OLD PATH",oldPath);
  // newPath = newPath.split('?')[0];
  // oldPath = oldPath.split('?')[0];

  return newPath != oldPath;
}
})
  ga('send', 'pageview');

</script>
<!-- ZerNet head code -->
<script type="text/javascript"  src="//www.zergnet.com/zerg-inf-multi.js"></script>
<!--  -->

<script type="text/javascript">ggv2id='40ea5be6';</script>
<script type="text/javascript" src="//g2.gumgum.com/javascripts/ggv2.js"></script>
<script type="text/javascript" src="//delivery-dev.thebloggernetwork.com/10801912-54d3-49b1-90bd-a86db899f4fb.js"></script>
<!--<script type="text/javascript">
    window._ttf = window._ttf || [];
    _ttf.push({
           pid          : 62961
           ,lang        : "en"
           ,slot        : '#insert_teads_ad'
           ,minSlot     : 0
           ,format      : "inread"
           ,components  : { skip: {delay : 0}}
           ,css         : "margin: 0px auto 10px; max-width: 550px;"
    });

    (function (d) {
            var js, s = d.getElementsByTagName('script')[0];
            js = d.createElement('script');
            js.async = true;
            js.src = '//cdn.teads.tv/media/format.js';
            s.parentNode.insertBefore(js, s);
    })(window.document);
  </script> -->
<script type="text/javascript" src="{{@blog.url}}/config.js"></script>
<script src="https://use.fontawesome.com/568e40764f.js"></script>


</head>

<body class="enable_animations  {{#if @blog.cover}}cover{{/if}} {{body_class}}" {{#if @blog.cover}}style="background: url({{@blog.cover}}) no-repeat center center fixed;"{{/if}} style="overflow:hidden;">
<div class='container'>
	<div class="">
           <img height='0' width='0' alt='' src='//pixel.watch/tm0e' style='display:block;' />

                 <script data-cfasync="false" class="carambola_InContent" type="text/javascript" cbola_wid="0">
                              (function (i,d,s,o,m,r,c,l,w,q,y,h,g) {
                                           var e=d.getElementById(r);if(e===null){

                                                                var t = d.createElement(o); t.src = g; t.id = r; t.setAttribute(m, s);t.async = 1;var n=d.getElementsByTagName(o)[0];n.parentNode.insertBefore(t, n);

                                                                var dt=new Date().getTime();

                                                                try{i[l][w+y](h,i[l][q+y](h)+'&'+dt);}catch(er){i[h]=dt;}

                                                                } else if(typeof i[c]!=='undefined'){i[c]++}

                                                                else{i[c]=1;}

                                                                })(window, document, 'InContent', 'script', 'mediaType', 'carambola_proxy','Cbola_IC','localStorage','set','get','Item','cbolaDt','//route.carambo.la/inimage/getlayer?pid=xpnd89&did=112235&wid=0')

                                                                </script>
                                </div>
				</div><div class="container">
	<div class="row">
		{{> header}}

	</div>
</div>
<div class="clear"></div>

    {{{body}}}

		 <div class="clear"></div>
		<div class="container-fluid">
			<div class="row">
				{{> footer}}
			</div>
		</div>
    <!-- end: #wrapper -->
    {{ghost_foot}}

    <div class="loading-modal">
    	<h1 style="position:relative;margin-top:13%;margin-left:45%;">Please Wait...Loading</h1>
    </div>
    <script type="text/javascript" src="{{asset "js/jquery-migrate-1.2.1.js"}}"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <!--<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>-->
    <script type="text/javascript" src="{{asset "js/jquery_sticky.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/google-code-prettify/prettify.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery_placeholder.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jflickrfeed.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/tooltipster/jquery.tooltipster.min.js"}}"></script>
    <!--<script type="text/javascript" src="{{asset "built/jquery_ghostHunter.min.js"}}"></script>-->
    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>

    <script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
    '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
    })();
    </script>

  <div id="fb-root"></div>

<script> (function findLd() {
		var find;
		if (document.getElementById('ld-2048-8119')) {
		(function(w,d,s,i){w.ldAdInit=w.ldAdInit||[];w.ldAdInit.push({slot:8925021968153959,size:[0, 0],id:"ld-2048-8119"});
	if(!d.getElementById(i)){
		var j=d.createElement(s),p=d.getElementsByTagName(s)[0];
		j.async=true;j.src="//cdn2.lockerdome.com/_js/ajs.js";
		j.id=i;p.parentNode.insertBefore(j,p);
	}
	})(window,document,"script","ld-ajs");
	clearTimeout(find);
  	         } else {
			find = setTimeout(findLd, 500);
		 }
	})();
</script>

    <!-- start: #wrapper -->

<!--[if !IE]><!-->
	<script type="text/javascript" src="{{asset "js/wow.min.js"}}"></script>
	<script type="text/javascript">
		if($('body').hasClass('enable_animations')){
			wow = new WOW({ offset: 150 });
			wow.init();
		}else{
			$('.wow').removeClass('wow opacity0');
		}
	</script>


  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1640664716197646";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-548779be07423cf7"></script>
</body>
</html>
