<style media="screen">
	.mobile-logo_2{
		padding-left: 0;
	}
</style>
<header id="header" style="width:100%;padding-bottom:100px;">
	<!-- start: .top -->
		<div class="container">
			<div class="col-lg-offset-2 col-md-offset-2  " style="text-align:center;height:90px;">
<iframe id="1fefcf085e" name="1fefcf085e" src="http://us-ads.openx.net/w/1.0/afr?auid=537616471&cb=INSERT_RANDOM_NUMBER_HERE" frameBorder="0" frameSpacing="0" scrolling="no" width="728" height="90"><a href="http://us-ads.openx.net/w/1.0/rc?cs=1fefcf085e&cb=INSERT_RANDOM_NUMBER_HERE" ><img src="http://us-ads.openx.net/w/1.0/ai?auid=537616471&cs=1fefcf085e&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe>
				<!--TBN ATF 728x90 pos 1 STARTS-->
    <!-- <div id="tbn-dab24407-a18d-ceb3-608d-81e4f099931a">
			<script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("dab24407-a18d-ceb3-608d-81e4f099931a");</script>
</div> -->
<!--TBN ATF 728x90 pos 1 ENDS-->

			</div>
		</div>
	<!-- start: .menu-wrapper -->
  <div class="nav-wrap">
							<div>
								<nav>
									<div id="bs-example-navbar-collapse-1" >
									  <div class="nav navbar-nav" style="width:100%; margin:0; border-bottom:1px solid #ccc;">

													<div class="mobile-logo_2 col-lg-5 col-md-6 col-sm-4 col-xs-7 pull-left">

																<a href="{{@blog.url}}">
																	<img src="{{asset "images/expanded-new-logo-300x86.png"}}"  alt="Heart Centered Rebalancing" /></a>


													</div>

													<div id="info_nav_Wrap_1" class=" col-lg-7 col-sm-8 col-xs-4">
									 					<div class="info col-lg-3 col-sm-8 col-xs-8">
																<li class="nav-dropdown">
																	<a href="javascript:return false;" class="dropdown-toggle " role="button" aria-haspopup="true" aria-expanded="false">
																		<div class="bars col-lg-4 col-xs-1"><i class="fa fa-bars"></i></div>
																		<span>Menu</span>
																	</a>
																		{{navigation}}
																</li>
														</div>
											      <!-- <div id="info_nav_Wrap" class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="display:inline-flex;margin-top:15px;padding:0 1px"> -->
														 <div class="info col-lg-5 col-sm-1 col-xs-1">
																	<li class="nav-dropdown">
																		<a href="javascript:return false;" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
																				<i class="fa fa-info-circle"></i>
																		</a>
																		<ul class="dropdown-menu pull-right" style="z-index:1000;">
																			<li class="extra-padding"><a href="http://expandedconsciousness.com/removal-request">About Us</a></li>
																			<li class="extra-padding"><a href="http://expandedconsciousness.com/contact-us/">Contact Us</a></li>
																			<li class="extra-padding"><a href="http://expandedconsciousness.com/fair-use/">Advertising Commitment</a></li>
																			<li class="extra-padding"><a href="http://expandedconsciousness.com/privacy-policy/">Privacy Policy</a></li>
																			<li class="extra-padding"><a href="http://expandedconsciousness.com/disclaimer/">Terms of Service</a></li></ul>
																	</li>
														 </div>
														<div class="info navbar-search col-lg-4 col-sm-3 col-xs-1">
																 <!-- <a href="#" id="searchtoggl" class="searchtoggl"><i class="navbar-search fa fa-search" aria-hidden="true"></i></a> -->
															<form class="full-search" action="/search" method="get">
																	 <input type="text" name="q" value="{{query}}" placeholder="What're we looking for ?" >
																<!--<input type="text" placeholder="What're we looking for ?">-->
															</form>
																<label >
																       <i class="navbar-search fa fa-search" aria-hidden="true"></i>
																</label>
															</div>
														</div><!-- /.navbar-collapse -->
		<!-- start scroll-nav -->
		<span class="overlay" style="position:absolute;">
		  <div class="container-fluid scroll-nav"style="visibility:hidden;background-color:#fff; margin-bottom:50px;z-index:9999;">
				<nav class=" new_nav_scroll navbar-default navbar-fixed-top">
						<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav" style="width:100%; margin:0;">
					    <div class="row" style="border-bottom:1px solid #ccc;background-color:#fff;">
								<div class="container">

									<div id="info_nav_Wrap_1" class=" col-lg-10 col-sm-12 col-xs-12">
					 					<div class="info col-lg-4 col-sm-3 col-xs-3">
												<li class="nav-dropdown">
													<a href="javascript:return false;" class="dropdown-toggle "  role="button" aria-haspopup="true" aria-expanded="false">
														<div class="bars col-lg-1 col-xs-1"><i class="fa fa-bars"></i></div>
														<!-- <div class="col-lg-2 hidden-sm hidden-xs"><p>Menu</p></div> -->
													</a>
														{{navigation}}
												</li>
										</div>
						      <!-- </div> -->
										<div class="share_wrap">
							     		<div id="addThis_scroll"class="addthis_sharing_toolbox" ></div>
										</div>
										<!-- <div id="info_nav_Wrap" class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="display:inline-flex;margin-top:15px;padding:0 1px"> -->
										 <div class="info col-lg-2 col-sm-2 col-xs-3">
													<li class="nav-dropdown">
														<a href="javascript:return false;" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
																<i class="fa fa-info-circle"></i>
														</a>
														<ul class="dropdown-menu pull-right">
															<li class="extra-padding"><a href="http://expandedconsciousness.com/removal-request">About Us</a></li>
															<li class="extra-padding"><a href="http://expandedconsciousness.com/contact-us/">Contact Us</a></li>
															<li class="extra-padding"><a href="http://expandedconsciousness.com/fair-use/">Advertising Commitment</a></li>
															<li class="extra-padding"><a href="http://expandedconsciousness.com/privacy-policy/">Privacy Policy</a></li>
															<li class="extra-padding"><a href="http://expandedconsciousness.com/disclaimer/">Terms of Service</a></li></ul>
													</li>
										 </div>
										 <div class="trending col-lg-2 col-sm-2 hidden-xs">
											 <li class="nav-dropdown">
												 <a href="javascript:return false;" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">
													 <i class="fa fa-line-chart"></i>
												 </a>
												 <ul class="dropdown-menu">
													 <li ><div class="nav-extra-padding"><a href="http://expandedconsciousness.com/trending">Trending</a></div></li>
												 </ul>
											 </li>
										 </div>
									</div>

								</div>
					    </div>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</span>
	</div><!-- end: .main-nav -->
</header>
<!-- end: #header -->
